# ChargeGrid Assistant — Dependências
# Sprint 3 | EV Challenge 2026 | FIAP + GoodWe

# Ollama — cliente Python para o servidor (local ou nuvem)
ollama>=0.3.1

# Interface web
streamlit>=1.35.0

# Carregamento de variáveis de ambiente
python-dotenv>=1.0.0

# Biblioteca de tokenização - Contador de tokens
tiktoken==0.14.0

# Conexão do langchain com provedor Ollama
langchain_ollama==1.1.0

# Framework Langchain
langchain-classic==1.0.8

# Langchain-core
langchain-core==1.6.2